{% block title %}
  Лев Толстой – зеркало русской революции.
{% endblock %} 
{% block content %}
  {% if text == 'Главная страница' %}
    {% for post in posts %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaks }}</p>    
    {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи группы!
    </a> 
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  {% elif text == 'Вложенная страница' %}
    {% for post in posts %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaks }}</p>    
    {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи группы!
    </a> 
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  {% else %}
      Мы понятия не имеем, где вы!
  {% endif %} 
{% endblock %} 